@charset "UTF-8"

// ==============================================================================
// Typesettings - Stylus Version
// ==============================================================================
// A toolkit that sets type in Ems based on modular scale, vertical rhythm,
// and responsive ratio based headlines. Oh, and pixel borders that maintain
// rhythm.
//
// Release Versions: https://github.com/ianrose/typesettings/releases
// Github: https://github.com/ianrose/typesettings
// License: The MIT License (MIT)
//
// Inspired by and used stuff from:
// https://github.com/typeplate/typeplate.github.io
// https://github.com/csswizardry/typecsset

@import "typesettings/_settings.styl";
@import "typesettings/_internal.styl";
@import "typesettings/_functions.styl";
@import "typesettings/_mixins.styl";
@import "typsettings/_global-init.styl";
@import "typesettings/_typesetted.styl";
